form {
    text-align: center;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    label,
    input {
        text-align: center;
        width: 40%;
    }
}

h2 {
    text-decoration: underline;
}